* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0px;
}

.cv-document {
  box-sizing: border-box;
  border: none;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  vertical-align: baseline;
  text-decoration: none;
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: arial, sans-serif, tahoma;
  font-size: 12pt;
}

.cv-page {
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  vertical-align: baseline;
  text-decoration: none;
  width: 900px;
  min-height: 900px;
  margin: 0 auto;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
  background-color: #fff;
  position: relative;
  padding: 40px;
}

/* Can le giua cac section */
div.section {
  margin: 40px;
}

/* In hoa va to dam tieu de cac section */
h2.section-title {
  text-transform: uppercase;
  font-weight: bold;
  border-bottom: black solid 2px;
  padding-bottom: 5px;
  margin-bottom: 15px;
}

/* Can le chung cho toan bo noi dung trong 1 section */
div.section-content {
  margin-top: 10px;
  margin-bottom: 10px;
  /* margin-left: 20px; */
  position: relative; /* Tham chieu vi tri cho thanh timeline */
}

/* Xu ly ten, anh */
h1.fullname {
  color: #0e2452;
}

/* Sap xep cac khoi div trong info */

#info .section-content {
  /* background-color: aqua; */
  display: flex; /*Sap xep hai khoi div ben duoi theo phương ngang*/
}

#info .section-content div:first-child {
  display: inline-block;
  width: 85.5%;
  /* background-color: #f4d408; */
}

#info .section-content div:nth-child(2) {
  display: inline-block;
  width: 14.5%;
  /* background-color: green; */
  position: relative; /* Tham chieu vi tri cho anh */
  right: 0;
}

/* Dinh vi anh so voi khoi div thu 2 */
#info .section-content img {
  position: absolute;
  top: 0;
  right: 2.5px;
  height: 113px;
  width: 113px;
}

/*Ghep 2 div trong content thanh 1 hang */
div.content {
  /* background-color: #5d8b99; */
  border-bottom: #ddd solid 1px;
  width: 100%;
  display: flex;
  position: relative; /* Tham chieu vi tri cho hinh tron timeline */
  margin-bottom: 15px;
}

div.content div:first-child {
  /* background-color: #f4d408; */
  display: inline-block;
  width: 30%;
  height: 100%;
  /* margin-left: 30px; */
}

div.content div:nth-child(2) {
  /* background-color: #08f43f; */
  display: inline-block;
  width: 70%;
  height: 100%;
}

/* Xu ly timeline cho mot so content */

div.timeline1 {
  margin-left: 20px;
}

/* Tao thanh timeline */
div.timeline1::before {
  content: "";
  position: absolute;
  width: 1px;
  background-color: #ddd;
  top: 0;
  bottom: 15px;
  left: -18px;
}

/* Tao hinh tron danh dau */
div.timeline2::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  left: -22px;
  background-color: black;
  top: 5px;
  border-radius: 50%;
  z-index: 1;
}

/* Xu ly bang hien thi theo hang */
table {
  /* border-collapse: collapse; */
  width: 100%;
}

td {
  padding: 8px 0px;
  text-align: left;
  vertical-align: top;
  /* border-bottom: 1px solid #ddd; */
}

#info td:first-child {
  font-weight: bold;
  width: 100px;
}

/* Xu ly cac danh sach */
.list-parent {
  list-style: none;
}

.list-parent li {
  padding-bottom: 5px;
}

.list-parent li:first-child {
  font-weight: bold;
}

.list-child {
  margin-left: 5px;
}

/* Tao marker "-" cho danh sach con list-child */
.list-child li {
  padding-bottom: 5px;
  list-style-type: "-";
  padding-inline-start: 5px;
}

.list-child li:first-child {
  font-weight: normal;
}

/* Canh le cac list khac */
.other-list {
  margin: 10px 36px;
}
.other-list li {
  padding-bottom: 5px;
}

/* Xu ly dinh dang rieng cho cac section */
#skill .content div:first-child {
  font-weight: bold;
}

#certificate .content div:nth-child(2) {
  text-transform: uppercase;
}

/*Xu ly project */
#project h3 {
  text-transform: uppercase;
  font-size: 1.5em;
}

/* Xu ly contact */
#contact a {
  color: blue;
  text-decoration: none;
}

#contact div {
  border-bottom: #ddd solid 1px;
}
